{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/detail.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/navigation.css' %}" />
    <script type="text/javascript" src="{% static './onepoll/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static './onepoll/js/onepoll.js' %}"></script>
    <script>
        registerBlockSelectors("form", ".choice-block", function(current, blocks) {
            blocks.css('opacity', '0.7');
            current.css('opacity', '1');
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div id="navigation">
                <h1 class="h1 text-center">onepoll <small>community polling</small></h1>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'new' %}">New poll</a></li>
                    <li><a href="{% url 'random' %}">Random poll</a></li>
                    <li><a href="{% url 'public' %}">Public polls</a></li>
                    <li style="float: right" class="hidden-xs"><a href="{% url 'detail' poll.pid %}" class="active">Poll: {{ poll.pid }}</a></li>
                </ul>
            </div>
        </div>

        {% if private == True %}
        <div class="row">
            <div id="private">
                <img src="{% static 'onepoll/images/Lock-icon.png' %}"/>
                <h1 id="private">This is an unlisted, private poll. Saving the URL is critical.</h1>
                <img src="{% static 'onepoll/images/Lock-icon.png' %}"/>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div id="poll-info" class="col-sm-10 col-sm-push-1 col-xs-12">
                <div class="col-sm-6">
                    <span class="h2">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        Poll Specifications
                    </span>
                </div>

                <div class="col-sm-6 col-xs-11 col-xs-push-1">
                    <div>
                        <div class="col-sm-6 col-xs-6"><b>Category:</b></div>
                        <div class="col-sm-6 col-xs-6"><span class="bg-success">{{ poll.category }}</span></div>
                    </div>
                    <div>
                        <div class="col-sm-6 col-xs-6"><b>Accessibility:</b></div>
                        <div class="col-sm-6 col-xs-6">
                            <span class="bg-success">
                                {% if poll.public_poll == 1 %}
                                Public
                                {% else %}
                                Private
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-6 col-xs-6"><b>Submitted by:</b></div>
                        <div class="col-sm-6 col-xs-6"><span class="bg-success">{{ poll.submitter }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <form class="form row" action="{% url 'vote' poll.pid %}" method="post">
            {% csrf_token %}
            {% if poll.image_link != "" %}
            <img src="{{ poll.image_link }}"/>
            {% endif %}
            <h1>{{ poll.question_text }}</h1>
            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for choice in poll.choice_set.all %}
            <div class="choice-block">
                <h6>option {{ forloop.counter }}</h6>
                <input type="radio" name="choice" value="{{ choice.id }}" />
                <label>{{ choice.choice_text }}</label>
            </div>
            {% endfor %}

            <div>
                {% if participated == True %}
                <h3>You have already participated in this poll. <a href="{% url 'results' poll.pid %}">Click for results.</a></h3>
                {% else %}
                <input type="text" placeholder="Name (optional)" name="name">
                <input type="submit" value="Vote"/>
                {% endif %}
            </div>
        </form>
    </div>
</body>
</html>
