{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Vote</title>
    <link rel="stylesheet" type="text/css" href="{% static 'onepoll/css/poll-info.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'onepoll/css/detail.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'onepoll/css/navigation.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'onepoll/js/common_methods.js' %}"></script>
    <script>
        registerBlockSelectors("form", ".choice-block", function(current, blocks) {
            blocks.css('opacity', '0.7');
            current.css('opacity', '1');
        });
    </script>
</head>

<body>
    <div id="navigation">
        <h1>onepoll</h1>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'new' %}">New poll</a></li>
            <li><a href="{% url 'random' %}">Random poll</a></li>
            <li><a href="{% url 'public' %}">Public polls</a></li>
            <li style="float: right" ><a href="{% url 'detail' poll.pid %}" class="active">Poll: {{ poll.pid }}</a></li>
        </ul>
    </div>

    {% if private == True %}
    <div id="private">
        <img src="{% static 'onepoll/images/Lock-icon.png' %}"/>
        <h1 id="private">This is an unlisted, private poll. Saving the URL is critical.</h1>
        <img src="{% static 'onepoll/images/Lock-icon.png' %}"/>
    </div>
    {% endif %}
    <form action="{% url 'vote' poll.pid %}" method="post">
        {% csrf_token %}
        <div id="poll-info">
            <div class='poll-info' name='{{ poll.category }}'>
                {{ poll.category }}
            </div>
            <div class='poll-info' name="submitter">
                Submitted by: {{ poll.submitter }}
            </div>
        </div>
        <h1>{{ poll.question_text }}</h1>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        {% for choice in poll.choice_set.all %}
        <div class="choice-block">
            <h6>option {{ forloop.counter }}</h6>
            <input type="radio" name="choice" value="{{ choice.id }}" />
            <label>{{ choice.choice_text }}</label>
        </div>
        {% endfor %}

        <div>
            {% if participated == True %}
            <h3>You have already participated in this poll. <a href="{% url 'results' poll.pid %}">Click for results.</a></h3>
            {% else %}
            <input type="text" placeholder="Name (optional)" name="name">
            <input type="submit" value="Vote"/>
            {% endif %}
        </div>
    </form>
</body>
</html>
