{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/detail.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/navigation.css' %}" />
    <script type="text/javascript" src="{% static './onepoll/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static './onepoll/js/onepoll.js' %}"></script>
    <script>
        registerBlockSelectors("form", ".choice-block", function(current, blocks) {
            blocks.css('opacity', '0.7');
            current.css('opacity', '1');
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div id="navigation">
                <h1 class="h1 text-center">onepoll <small>community polling</small></h1>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'new' %}">New poll</a></li>
                    <li><a href="{% url 'random' %}">Random poll</a></li>
                    <li><a href="{% url 'public' %}">Public polls</a></li>
                    <li style="float: right" class="hidden-xs"><a href="{% url 'detail' poll.pid %}" class="active">Poll: {{ poll.pid }}</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div id="poll-info" class="col-sm-10 col-sm-push-1 col-xs-12">
                <div class="col-sm-6">
                    <span class="h2">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        Poll Specifications
                    </span>
                </div>

                <div class="col-sm-6 col-xs-11 col-xs-push-1">
                    <div>
                        <div class="col-sm-6 col-xs-6"><b>Category:</b></div>
                        <div class="col-sm-6 col-xs-6"><span class="bg-success">{{ poll.category }}</span></div>
                    </div>
                    <div>
                        <div class="col-sm-6 col-xs-6"><b>Accessibility:</b></div>
                        <div class="col-sm-6 col-xs-6">
                            <span class="bg-success">
                                {% if poll.public_poll == 1 %}
                                Public
                                {% else %}
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                Private
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-6 col-xs-6"><b>Submitted by:</b></div>
                        <div class="col-sm-6 col-xs-6">
                            <span class="bg-success">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {{ poll.submitter }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="question" class="col-sm-12 text-center">
                <div class="col-sm-12">
                    <span class="h1">
                        Question
                    </span>
                </div>

                <div class="col-sm-12">
                    <span class="h3">
                        <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
                        {{ poll.question_text }}
                    </span>
                </div>
            </div>
        </div>

        <form class="form row" action="{% url 'vote' poll.pid %}" method="post">
            {% csrf_token %}

            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <div id="choices" class="form-group">
                {% for choice in poll.choice_set.all %}
                <div class="input-group col-sm-12 col-xs-12">
                    <div class="choice-block col-sm-12 col-xs-12">
                        <h6>option {{ forloop.counter }}</h6>
                        <input type="radio" name="choice" value="{{ choice.id }}" />
                        <span class="h3">{{ choice.choice_text }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="input-group col-sm-4 col-sm-push-8">
                {% if participated == True %}
                <h3>You have already participated in this poll. <a href="{% url 'results' poll.pid %}">Click for results.</a></h3>
                {% else %}
                <input type="text" placeholder="Name (optional)" name="name" class="form-control">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"/>Vote</button>
                </span>
                {% endif %}
            </div>
        </form>
    </div>
</body>
</html>
