{% load staticfiles %}
{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/navigation.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/poll-info.css' %}"/>
    <script type="text/javascript" src="{% static './onepoll/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static './onepoll/js/jquery.slides.min.js' %}"></script>
    <script type="text/javascript" src="{% static './onepoll/js/tooltipsy.min.js' %}"></script>
    <script type="text/javascript" src="{% static './onepoll/js/md5.js' %}"></script>
    <script type="text/javascript" src="{% static './onepoll/js/onepoll.js' %}"></script>
    <title>OnePoll</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div id="navigation">
                <div class="h1 text-center">onepoll <small>a community polling service</small></div>
                <ul>
                    <li><a href="{% url 'index' %}" class='active'>Home</a></li>
                    <li><a href="{% url 'new' %}">New poll</a></li>
                    <li><a href="{% url 'random' %}">Random poll</a></li>
                    <li><a href="{% url 'public' %}">Public polls</a></li>
                    <li style="float: right; background-color: #CD5555">
                        <a onclick="loginFormSlide()" href="javascript:void(0);" name="account-text">Sign In / Register</a>
                    </li>
                </ul>
            </div>
        </div>
            {% if authenticated == "" or authenticated == False %}
            <form class="form row" method="POST">
                {% csrf_token %}
                <div class="col-sm-6 col-sm-offset-2">
                    <div class="form-group col-sm-12">
                        <label class="sr-only">Username</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                            <div class="input-group-addon"><input type="checkbox" name="remember-me"> Remember me</div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <label class="sr-only">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group col-sm-12 col-xs-6">
                        <button type="button" class="btn btn-primary col-sm-9 col-xs-9" onclick="location.href = '{% url 'register' %}'">Register</button>
                    </div>
                    <div class="form-group col-sm-12 col-xs-6">
                        <button type="button" class="btn btn-primary col-sm-9 col-xs-9" onclick="attemptLogin();" name="signin">Sign in</button>
                    </div>
                </div>
            </form>
            {% endif %}

        <div class="row" style="margin-top: 15px;">
            <p class="bg-info text-center">
                OnePoll has been upgraded to version 0.2.8.
                <button type="button" class="close" aria-label="Close" onclick="$(this).parent().remove();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </p>
        </div>

        <div class="row" id="redirection">
            <div class="centre-block col-sm-8 redirection" id="developer-blog">
                <div class='centre-block-title col-sm-12'>Developer Blog</div>
                <p class="col-md-12">Want to know whats in the works? Tune in on Medium!</p>
                <a href="http://medium.com"><img src="{% static 'onepoll/images/Medium-logo-2015-logotype.png' %}" class="img-responsive col-sm-3 col-sm-push-5 col-xs-6 col-xs-push-3"/></a>
            </div>
            <div class='centre-block col-sm-4 redirection' id="latest-poll">
                <div class='centre-block-title col-sm-12'>Latest poll</div>
                <div class="col-sm-12 col-xs-12">
                    {% if poll %}
                    <div class='poll-info col-sm-12 col-xs-12' style="margin-bottom: 10px;" name='{{ poll.category }}'>{{ poll.category }}</div>
                    <p class="col-sm-5 col-xs-12">{{ poll.question_text }}</p>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary col-sm-12 col-xs-12" onclick="location.href = '{% url 'detail' poll.pid %}'">Go to poll</button>
                        <button type="button" class="btn btn-success col-sm-12 col-xs-12" onclick="location.href = '{% url 'results' poll.pid %}'">View results</button>
                    </div>
                    {% else %}
                    <p class="col-sm-12">No polls are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div style="margin-top: 20px" class="row">
            <div id="slideshow" class="col-sm-8">
                <img src="{% static 'onepoll/images/op_participation.jpg' %}" class="img-responsive col-sm-12"/>
                <img src="{% static 'onepoll/images/op_participation1.jpg' %}" class="img-responsive col-sm-12"/>
            </div>
            <div class="col-sm-4">
                <p>
                    <b>Many new features have been added to OnePoll!</b>
                    <ul>
                        <li><b>Categorize your polls:</b> Tag your post in Science, Mathematics, Business, General Knowledge, and more.</li>
                        <li><b>Engage in the community:</b> Create your <mark>free account</mark> today to benefit from many member-only features, including saving, editing, and managing polls.</li>
                        <li><b>View poll results in real time:</b> Poll results are instantaneous and don't require you to refresh the page.</li>
                        <li><b>Browse and find specific polls:</b> Onepoll is equipped with a public polls page with many refining criteria to help you find a poll on our database.</li>
                        <li><b>Visualize your poll with Images/GIFs</b>: Poll creation now supports the insertion of images/GIFs to better equip your polling needs.</li>
                        <li><b>Gather discrete results:</b> Create secret polls that may only be accessed through your unique, private link. Private polls will never be publicly indexed.</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="row">
            <div class='centre-block'>
                <div class='centre-block-title'>
                    As of a few moments ago, the community has...
                </div>
            </div>
        </div>

        <div class="row" id="statistics">
            {% for stat in statistics %}
            <div class="statistic col-sm-12">
                {% for data in stat %}
                {% if forloop.counter == 1 %}
                <div class='statistic-title col-sm-12 text-center'>
                {% else %}
                <div class='statistic-detail col-sm-8 col-sm-push-2 text-center'>
                {% endif %}
                    {{ data }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        {% if authenticated != "" %}
        <script>
            displayLoginResult({{ authenticated|lower }}, '{{ username }}');
        </script>
        {% endif %}

        <script>
        $(function(){
          $("#slideshow").slidesjs({
              width: 900,
              height: 500,
              play: {
                  active: false,
                  effect: "slide",
                  interval: 5000,
                  auto: true,
                  swap: false,
                  pauseOnHover: false,
                  restartDelay: 2500
              },

              navigation: {
                  active: false
              },

              pagination: {
                  active: false
              }
          });
        });

        if (getCookie("username")) {
            $('[name="remember-me"]').attr("checked", "");
            $('[name="username"]').val(getCookie("username"));
        }
        </script>
    </div>
</body>
</html>
