{% load staticfiles %}
{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'onepoll/css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'onepoll/css/poll-info.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'onepoll/css/navigation.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'onepoll/js/accounts.js' %}"></script>
    <script type="text/javascript" src="{% static 'onepoll/js/md5.js' %}"></script>
    <script type="text/javascript" src="{% static 'onepoll/js/common_methods.js' %}"></script>
    <script type="text/javascript" src="{% static 'onepoll/js/tooltipsy.min.js' %}"></script>
    <title>Home</title>
</head>

<body>
    <div id="navigation">
        <h1>onepoll</h1>
        <ul>
            <li><a href="{% url 'index' %}" class='active'>Home</a></li>
            <li><a href="{% url 'new' %}">New poll</a></li>
            <li><a href="{% url 'random' %}">Random poll</a></li>
            <li><a href="{% url 'public' %}">Public polls</a></li>
            <li style="float: right; background-color: #CD5555">
                <a onclick="loginFormSlide()" href="javascript:void(0);">Sign In / Register</a>
            </li>
        </ul>

        <form method="POST">
            {% csrf_token %}
            <div class='accounts-label'>
                username:
            </div>
            <input type="text" name='username'/>
            <div class='accounts-label'>
                password:
            </div>
            <input type="password" name='password'/>
            <input type="button" value="login" onclick="attemptLogin();"/>
            <div class='accounts-register'>
                 Don't have an account? <a href="{% url 'register' %}">Register here</a>.
            </div>
        </form>
    </div>

    <div class='centre-block' id="latest-poll">
        <div class='centre-block-title'>
            Latest poll
        </div>
        {% if poll %}
        <div class='poll-info' name='{{ poll.category }}'>
            {{ poll.category }}
        </div>
        <a href="{% url 'detail' poll.pid %}">{{ poll.question_text }}</a>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </div>

    <div class='centre-block'>
        <div class='centre-block-title'>
            Stats
        </div>
        <div id="statistics">
            {% for stat in statistics %}
            <div class="statistic">
                {% for data in stat %}
                {% if forloop.counter == 1 %}
                <div class='statistic-title'>
                {% else %}
                <div class='statistic-detail'>
                {% endif %}
                    {{ data }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    {% if authenticated != "" %}
    <script>
        displayLoginResult({{ authenticated|lower }});
    </script>
    {% endif %}
</body>
</html>
