{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>New Poll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/new.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static './onepoll/css/navigation.css' %}" />
    <script type="text/javascript" src="{% static './onepoll/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static './onepoll/js/onepoll.js' %}"></script>
    <script>
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div id="navigation">
                <div class="h1 text-center">onepoll <small>a community polling service</small></div>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'new' %}" class='active'>New poll</a></li>
                    <li><a href="{% url 'random' %}">Random poll</a></li>
                    <li><a href="{% url 'public' %}">Public polls</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <form action="{% url 'submit' %}" method="post">
                {% csrf_token %}

                <div id="step-1" class="col-sm-12">
                    <div class="row step-header text-center" id="step1-header"><h3>Step 1: Poll Type</h3></div>

                    <div class="row">
                        <p class="col-sm-5"><b>Let's get you started</b>. Please select the type of poll you wish to create: </p>
                        <div class="col-sm-7">
                            <label class="radio-inline">
                                <input type="radio" name="poll-type" value="Factual" onclick="showStep(2)"> Factual (i.e. quizzes, questions)
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="poll-type" value="Survey" onclick="showStep(2)"> Survey
                            </label>
                        </div>
                    </div>
                </div>

                <div id="step-2" class="col-sm-12">
                    <div class="row step-header text-center" id="step2-header"><h3>Step 2: The Body</h3></div>

                    <div class="row">
                        <p class="col-sm-5">
                            Great, you have chosen what type of poll you wish to start.
                            Effective polls boast concise questions and a sufficient number of choices.</br></br>

                            All Polls are multiple-choice. A minimum of two (2) choices have been initialized for you.
                            You may add more choices up to a total of 10.</br></br>
                            If you have chosen the <b>Factual</b> option, please make sure you fill out the corresponding
                            radio button for the correct answer.
                        </p>

                        <div class="col-sm-7">
                            <div class="form-group">
                                <div class="input-group">
                                    <textarea rows="2" class="form-control" onkeyup="updateCharCounter(this, 200)" name="question_text" placeholder="Question"></textarea>
                                    <span class="input-group-addon char-counter">0 / 200 characters</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-sm-12">
                                    <span class="input-group-addon">
                                        <input type="radio" name="correct-answer" value="choice-1">
                                    </span>

                                    <input type="text" class="form-control" onkeyup="updateCharCounter(this, 150)" name="choice1_text" placeholder="Choice #1">
                                    <span class="input-group-addon char-counter">0 / 150 characters</span>
                                </div>

                                <div class="input-group col-sm-12">
                                    <span class="input-group-addon">
                                        <input type="radio" name="correct-answer" value="choice-2">
                                    </span>

                                    <input type="text" class="form-control" onkeyup="updateCharCounter(this, 150)" name="choice2_text" placeholder="Choice #2">
                                    <span class="input-group-addon char-counter">0 / 150 characters</span>
                                </div>

                                <div class="input-group col-sm-12">
                                    <button type="button" class="btn btn-default" onclick="changeOptionGroup(this, 'add')">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        Add Choice
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="changeOptionGroup(this, 'delete')">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        Delete Choice
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <p class="col-sm-5">
                            Determining who gets to access and participate in your poll is critical.</br>
                            <b>Public</b> polls are indexed and may be seen and interacted with by anyone, while <b>Private</b>
                            polls will never be indexed publicly and can only be accessed through your unique link.
                        </p>

                        <div class="col-sm-7 col-xs-12">
                            <div class="form-group">
                                <div class="input-group col-sm-12 col-xs-12">
                                    <select class="form-control" name="poll-privacy" onchange="showStep(3)">
                                        <option value="">Choose a privacy setting</option>
                                        <option value="public">Public</option>
                                        <option value="private">Private</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="step-3" class="col-sm-12">
                    <div class="row step-header text-center" id="step3-header"><h3>Step 3: Toppings</h3></div>
                    <div class="row">
                        <p class="col-sm-5">
                            <b>Categorize!</b> Assign a genre to your poll to educate particpants of its nature.
                        </p>

                        <div class="col-sm-7 col-xs-12">
                            <div class="form-group">
                                <div class="input-group col-sm-12 col-xs-12">
                                    <select class="form-control" name="category">
                                        <option value="">Choose a category</option>
                                        <option value="Science">Science</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Business">Business</option>
                                        <option value="History">History</option>
                                        <option value="General Knowledge">General Knowledge</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <p class="col-sm-5">
                            <b>Imagify!</b> Adding images to questions is sweet. Sometimes it's necessary!
                            Provide a direct image URL so that it can be directly linked and embedded to your poll.
                        </p>

                        <div class="col-sm-7 col-xs-12">
                            <div class="form-group">
                                <div class="input-group col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Image URL (must end in .png, .jpg, or .gif)" name="image-url">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <p class="col-sm-5">
                            <b>Identify!</b> It looks like you are not logged in. Enter your preferred name/tag if you
                            still wish to identify yourself in a way.
                        </p>

                        <div class="col-sm-7 col-xs-12">
                            <div class="form-group">
                                <div class="input-group col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Name/Tag" name="submitter-tag">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-group col-sm-12 col-xs-12">
                                    <input type='submit' value="Submit" class="btn btn-primary col-sm-3 col-sm-push-9 col-xs-5 col-xs-push-7"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
