{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Public polls</title>
    <link rel='stylesheet' type='text/css' href="{% static 'onepoll/css/public.css' %}"/>
    <link rel='stylesheet' type='text/css' href="{% static 'onepoll/css/navigation.css' %}"/>
    <script src="{% static 'onepoll/js/django_setup.js' %}"></script>
    <script src="{% static 'onepoll/js/public.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body onload="updatePolls({% url 'public' %})">
    <div id="navigation">
        <h1>onepoll</h1>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'new' %}">New poll</a></li>
            <li><a href="{% url 'random' %}">Random poll</a></li>
            <li><a href="{% url 'public' %}" class='active'>Public polls</a></li>
        </ul>
    </div>

    <div id='filters'>
        <fieldset>
            <legend>Filter by keywords</legend>
            <input type="text" name='keywords' placeholder="Separate with commas">
            <input type="radio" name='search' value='any' checked> Find polls matching any keyword
            <input type="radio" name='search' value='match'> Find polls matching all keywords
        </fieldset>

        <fieldset>
            <legend>Filter by category</legend>
            Search in
            <select>
                <option value="All">All categories</option>
                <option value="Science">Science</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Business">Business</option>
                <option value="History">History</option>
                <option value="General Knowledge">General Knowledge</option>
                <option value="Other">Other</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Polls to retrieve</legend>
            <input type="radio" name='amount' value=10 checked> 10 polls
            <input type="radio" name='amount' value=20> 20 polls
            <input type="radio" name='amount' value=50> 50 polls
        </fieldset>

        <input type="button" value="Refine" onclick="updatePolls({% url 'public' %})">
    </div>

    <div id='polls'>
        <table>
            <tr>
                <th>Poll id</th>
                <th>Category</th>
                <th>Question</th>
                <th>Publish date</th>
            </tr>
        </table>
    </div>
</body>
</html>
