{% load static %}

<head>
    <title>Vote</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/detail.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/navigation.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'polls/js/detail.js' %}"></script>
    <script>registerSelectionListeners({{ question.choice_set.count }});</script>
</head>

<body>
    <div id="navigation">
        <h1>testpolls</h1>
        <ul>
            <li><a href="{% url 'polls:index' %}">Home</a></li>
            <li><a href="{% url 'polls:new' %}">New poll</a></li>
            <li><a href="{% url 'polls:random' %}">Random poll</a></li>
            <li><a href="{% url 'polls:public' %}">Public polls</a></li>
            <li style="float: right" ><a href="{% url 'polls:detail' question.id %}" class="active">Poll: {{ question.id }}</a></li>
        </ul>
    </div>

    {% if private %}
    <div id="private">
        <img src="{% static 'polls/images/Lock-icon.png' %}"/>
        <h1 id="private">This is an unlisted, private poll. Saving the URL is critical.</h1>
        <img src="{% static 'polls/images/Lock-icon.png' %}"/>
    </div>
    {% endif %}
    <div id='voting-template'>
        <h1>{{ question.question_text }}</h1>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <div id='option-{{forloop.counter}}' class='choice-rectangle'>
                <h6>option {{ forloop.counter }}</h6>
                <input type="radio" name="choice" id="radio{{ forloop.counter }}" value="{{ choice.id }}" />
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
            </div>
            {% endfor %}
            <input type="submit" value="Vote" id="form-submit"/>
        </form>
    </div>
</body>
