{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}"/>
    <title>Active Polls</title>
</head>

<h1>POLLS</h1>

<div id='menu_item'>
    <h3><a href="{% url 'polls:new' %}" class='menu_item'>Create new poll</a></h3>
</div>
<div id='menu_item'>
    <h3><a href="{% url 'polls:public' %}" class='menu_item'>View all public polls</a></h3>
</div>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
