{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/navigation.css' %}"/>
    <title>Home</title>
</head>

<body>
    <div id="navigation">
        <h1>testpolls</h1>
        <ul>
            <li><a href="{% url 'polls:index' %}" class='active'>Home</a></li>
            <li><a href="{% url 'polls:new' %}">New poll</a></li>
            <li><a href="{% url 'polls:random' %}">Random poll</a></li>
            <li><a href="{% url 'polls:public' %}">Public polls</a></li>
        </ul>
    </div>
    <div id="latest-polls">
        {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </div>
</body>
