{% load static %}

<head>
    <title> Create new poll </title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/new.css' %}" />
</head>

<body>
    <a href="{% url 'polls:index' %}">🡐 BACK TO INDEX</a>
    <form action="{% url 'polls:submit' %}" method="post">

        {% csrf_token %}

        <h2>NEW PUBLIC POLL</h2>
        <h3>Question</h3>
        <input type='text' name='question_text' class='question-text'>
        <h3>Choices</h3>

        <div id="choice">
            <p> Choice 1 </p>
            <input type='text' name='choice1_text' class='choice-text'>
        </div>
        <div id="choice">
            <p> Choice 2 </p>
            <input type='text' name='choice2_text' class='choice-text'>
        </div>
        <div id="choice">
            <p> Choice 3 </p>
            <input type='text' name='choice3_text' class='choice-text'>
        </div>
        <div id="choice">
            <p> Choice 4 </p>
            <input type='text' name='choice4_text' class='choice-text'>
        </div>

        <br/>
        <input type='radio' name='privacy' value='public' checked> Public
        <input type='radio' name='privacy' value='private'> Private
        <button type='submit'>SUBMIT</button>
    </form>
</body>
