{% load staticfiles %}

<head>
    <title> Create new poll </title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/new.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/navigation.css' %}" />

    <div id="navigation">
        <h1><span style='color: #CD5555'>one</span>poll</h1>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'new' %}" class='active'>New poll</a></li>
            <li><a href="{% url 'random' %}">Random poll</a></li>
            <li><a href="{% url 'public' %}">Public polls</a></li>
        </ul>
    </div>
</head>

<body>
    <form action="{% url 'submit' %}" method="post">
        {% csrf_token %}

        <h2>NEW PUBLIC POLL</h2>
        <h3>Question</h3>
        <input type='text' name='question_text'>
        <h3>Choices</h3>

        <div>
            <p>Choice 1</p>
            <input type='text' name='choice1_text'>
        </div>
        <div>
            <p>Choice 2</p>
            <input type='text' name='choice2_text'>
        </div>
        <div>
            <p>Choice 3</p>
            <input type='text' name='choice3_text'>
        </div>
        <div>
            <p>Choice 4</p>
            <input type='text' name='choice4_text'>
        </div>

        <br/>
        <input type='radio' name='privacy' value='public' checked> Public
        <input type='radio' name='privacy' value='private'> Private
        <input type='submit' value="Submit"/>
    </form>
</body>
