{% load static %}

<head>
    <title>Public polls</title>
    <link rel='stylesheet' type='text/css' href="{% static 'polls/public.css' %}"/>
</head>

<body>
    <div id='filters'>
        <fieldset>
            <legend>Filter by keywords</legend>
            <input type="text" placeholder="Separate with commas">
            <input type="radio" name='search' value=20 checked> Find polls matching any keyword
            <input type="radio" name='search' value=50> Find polls matching all keywords
        </fieldset>

        <fieldset>
            <legend>Polls to retrieve</legend>
            <input type="radio" name='amount' value=10 checked> 10 polls
            <input type="radio" name='amount' value=20> 20 polls
            <input type="radio" name='amount' value=50> 50 polls
        </fieldset>

        <fieldset>
            <legend>Sorting Method</legend>
            <input type="radio" name='nature' value='latest' checked> Latest polls
            <input type="radio" name='nature' value='hot'> Hot polls
            <input type="radio" name='nature' value='top'> Top polls
        </fieldset>

        <input type="button" value="Refine" id="refine-btn">
    </div>

    <div id='polls'>
        <table>
            <tr>
                <th>Poll id</th>
                <th>Question</th>
                <th># of Votes</th>
                <th>Views</th>
                <th>Publish date</th>
            </tr>
            {% for question in questions %}
            <tr>
                <td><a href='{% url 'polls:detail' question.id %}'>{{ question.id }}</a></td>
                <td>{{ question.question_text }}</td>
                <td>{{ question.get_total_votes }}</td>
                <td>{{ question.views }}</td>
                <td>{{ question.pub_date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
