a {
    font-size: 1.5em;
    text-decoration: none;
    color: blue;
}

#private {
    margin: 20 auto;
    text-align: center;
}

#private h1{
    color: #FF6600;
    text-align: center;
}

#private img {
    width: 40px;
    height: auto;
}

#private h1, img {
    display: inline-block;
}

#voting-template {
    background-color: gray;
    width: 100%;
    text-align: center;
}

#voting-template h1:before {
    content: 'Poll: ';
    color: #86C67C;
}

#voting-template h6 {
    font-family: sans-serif;
}

.choice-rectangle {
    background-color: #86C67C;
    opacity: 0.7;
}

.choice-rectangle input {
    display: none;
}

.choice-rectangle label {
    font-size: 1.5em;
}

#voting-template input[type='submit'] {
    width: 20%;
    font-size: 1em;
    margin-top: 20px;
}
