@font-face {
    font-family: keepcalm;
    src: url('../fonts/keepcalm.ttf');
}

body {
    background-color: #EBEBEB;
    font-family: keepcalm;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: blue;
}

#private {
    margin: 20 auto;
    text-align: center;
}

#private h1{
    color: #FF6600;
    text-align: center;
}

#private img {
    width: 40px;
    height: auto;
}

#private h1, img {
    display: inline-block;
}

#voting-template {
    background-color: gray;
    width: 100%;
    text-align: center;
    box-shadow: -2px 3px 20px #888888;
}

#voting-template h1:before {
    content: 'Poll: ';
    color: #86C67C;
}

#voting-template h6 {
    font-family: sans-serif;
}

.choice-rectangle {
    background-color: #86C67C;
    opacity: 0.7;
}

.choice-rectangle input {
    position: absolute;
    left: 1%;
}

.choice-rectangle label {
    font-size: 1.5em;
}

#form-submit {
    margin-top: 20px;
}
