#private {
    margin-top: 20px;
    text-align: center;
}

#private h1{
    color: #FF6600;
    text-align: center;
}

#private img {
    width: 40px;
    height: auto;
}

#private h1, img {
    display: inline;
}

form {
    background-color: gray;
    width: 100%;
    text-align: center;
}

form h1:before {
    content: 'Poll: ';
    color: #86C67C;
}

form div {
    background-color: #86C67C;
    opacity: 0.7;
}

form div:last-child {
    background-color: inherit;
    text-align: right;
    opacity: inherit;
    display: block;
}

form h6 {
    font-family: sans-serif;
}

form div label {
    font-size: 1.5em;
}

form input[type='radio'] {
    display: none;
}

form input[type='submit'] {
    display: inline;
    font-size: 1em;
    margin-top: 20px;
    width: 10%;
}
