@font-face {
    font-family: keepcalm;
    src: url('../fonts/keepcalm.ttf');
}

head {
    display: inline-block;
}

body {
    background-color: #EBEBEB;
    font-family: keepcalm;
}

#latest-polls {
    background-color: gray;
}
#latest-polls a {
    color: #86C67C;
    text-align: center;
    font-weight:bold;
    font-size: 2em;
    text-decoration: none;
}

#latest-polls a:before {
    content: "Q: ";
    color: black;
}
