@font-face {
    font-family: keepcalm;
    src: url('../fonts/keepcalm.ttf');
}

body {
    background-color: #EBEBEB;
    font-family: keepcalm;
}

#latest-polls {
    background-color: gray;
}
#latest-polls a {
    color: #86C67C;
    text-align: center;
    font-weight:bold;
    font-size: 2em;
    text-decoration: none;
}

#latest-polls a:before {
    content: "Q: ";
    color: black;
}

#accounts {
    text-align: center;
    background-color: #4CAF50;
}

#accounts h3{
    color: white;
    display: inline;
}

#accounts h4 {
    display: inline;
}

#accounts input {
    border: none;
    border-radius: 5px;
}
