@font-face {
    font-family: keepcalm;
    src: url('../fonts/keepcalm.ttf');
}

#accounts {
    text-align: center;
    background-color: #4CAF50;
}

#accounts h3{
    color: white;
    display: inline;
}

#accounts h4 {
    display: inline;
}

#latest-poll {
    background-color: gray;
}

#latest-poll h2 {
    text-align: center;
    background-color: #4CAF50;
}

#latest-poll a {
    font-size: 1.2em;
    text-decoration: none;
    width: 100%;
}

#latest-poll a:before {
    content: "POLL: ";
    color: black;
}
