form {
    background-color: gray;
    font-family: sans-serif;
    text-align: center;
}

form h2 {
    font-weight: bold;
    background-color: #86C67C;
}

form input[name='question_text'] {
    width: 80%;
}

form input[type='submit'] {
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em
}

form div {
    display: inline-block;
    width: 20%;
    margin-bottom: 20px;
}

form div input {
    width: 100%;
}
