body {
    background-color: #EBEBEB;
}

form {
    background-color: gray;
    margin: 0 auto;
    width: 60%;
    box-shadow: -2px 3px 20px #888888;
    font-family: sans-serif;
    text-align: center;
}

form h2 {
    font-weight: bold;
    background-color: #86C67C;
}

form input.question-text {
    width: 80%;
}

form button {
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5em
}

#choice {
    display: inline-block;
    position: relative;
    width: 20%;
    margin-bottom: 5%;
}

#choice input {
    width: 100%;
}
