#filters {
    background-color: gray;
    text-align: center;
    padding: 5px 0px 5px 0px;
    width: 100%;
}

#filters input[type='button'] {
    margin-left: 10px;
}

#polls {
    text-align: center;
    font-family: sans-serif;
    display: none;
    width: 100%;
    margin-top: 15px;
    max-height: 300px;
    background-color: #3D3D3D;
    overflow-y: auto;
}

legend {
    font-weight: bold;
}

fieldset {
    display: inline-block;
    border-color: #86C67C;
}

table {
    width: 100%;
}

table, th {
    border-bottom: 2px solid black;
    border-collapse: collapse;
    color: white;
}

th {
    background-color: #CD5555;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 1.5em;
    padding: 10px;
}

td {
    border-right: 2px solid black;
    border-collapse: collapse;
    text-align: right;
    padding: 5px;
}

td a {
    color: white;
    background-color: #86C67C;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    margin-right: 10px;
}

tr:nth-child(even) {
    background-color: #898989;
}
