@font-face {
    font-family: keepcalm;
    src: url('../fonts/keepcalm.ttf');
}

body {
    background-color: #EBEBEB;
}

a {
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: blue;
}

#voting-template {
    background-color: gray;
    position: absolute;
    top: 10%;
    width: 99%;
    text-align: center;
    box-shadow: -2px 3px 20px #888888;
}

#voting-template h1 {
    font-family: keepcalm;
}

#voting-template h1:before {
    content: 'Poll: ';
    color: #86C67C;
}

.choice-rectangle {
    background-color: #86C67C;
    opacity: 0.7;
}

.choice-rectangle input {
    position: absolute;
    left: 0%;
}

.choice-rectangle label {
    font-size: 1.5em;
    font-family: keepcalm;
}

#form-submit {
    margin-top: 20px;
}
