@font-face {
    font-family: keepcalm;
    src: url('../fonts/keepcalm.ttf');
}

body {
    background-color: #EBEBEB;
    font-family: keepcalm;
}

#menu_item {
    display: inline-block;
    width: 32%;
}

h1 {
    width: 100%;
    text-align: center;
    color: black;
    background-color: gray;
    font-weight: bold;
    font-size: 4em;
}

h3 {
    margin-top: 5%;
    text-align: center;
}

.menu_item {
    padding: 10px;
    color: black;
    background-color: #86C67C;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 5px;
    display: inline;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul {
    background-color: gray;
    margin-top: 5%;
    padding: 5%;
}
li a {
    color: #86C67C;
    text-align: center;
    font-weight:bold;
    font-size: 2em;
    text-decoration: none;
}

li a:before {
    content: "Q: ";
    color: black;
}
