body {
    background-color: #EBEBEB;
}


#filters {
    text-align: center;
}

#refine-btn {
    margin-left: 10px;
}

#polls {
    text-align: center;
    margin: 5% auto;
    width: 100%;
    max-height: 50%;
    background-color: #3D3D3D;
    box-shadow: -2px 3px 20px #888888;
    overflow-y: auto;
}

legend {
    font-weight: bold;
}

fieldset {
    display: inline-block;
    border-color: #86C67C;
}

table {
    width: 100%;
}

table, th {
    border-collapse: collapse;
    color: white;
}

th {
    background-color: #CD5555;
    border-right: 2px solid black;
    font-size: 1.5em;
    padding: 10px;
}

td {
    border-right: 2px solid black;
    border-collapse: collapse;
    text-align: right;
}

td a {
    color: orange;
}

td a:visited {
    color: white;
}


tr:nth-child(even) {
    background-color: #787878;
}
