#poll-info  {
    margin-top: 20px;
    padding: 5px;
    background-color: #7596c8;
}

#question {
    background-color: #be4b49;
    margin-top: 20px;
}

form {
    text-align: center;
}

.choice-block {
    background-color: #86C67C;
    opacity: 0.7;
    padding: 5px;
}

#choices {
    background-color: gray;
}

form input[type='radio'] {
    display: none;
}

img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 30%;
    height: 30%;
}
