#private {
    margin-top: 20px;
    text-align: center;
}

#private h1{
    color: #FF6600;
    text-align: center;
}

#private img {
    width: 40px;
    height: auto;
}

#private h1, img {
    display: inline;
}

form {
    margin-top: 20px;
    padding: 10px;
    background-color: gray;
    text-align: center;
}

.choice-block {
    background-color: #86C67C;
    opacity: 0.7;
}

form div:last-child {
    text-align: right;
}

form h6 {
    font-family: sans-serif;
}

form div label {
    font-size: 1.5em;
}

form input[type='radio'] {
    display: none;
}

form input[type='submit'], form input[type="text"] {
    display: inline;
    font-size: 1em;
    margin-top: 20px;
    width: 10%;
}

@media screen and (max-width: 600px) {

    form div:last-child input[type="text"] {
        width: 50%;
    }

    form div:last-child input[type="submit"] {
        width: 30%;
    }
}
