#poll-info  {
    margin-top: 20px;
    padding: 5px;
    background-color: #7596c8;
}

#question {
    background-color: #9F6164;
    padding: 5px;
}

#poll-image {
    background-color: #1F1209;
    padding: 5px;
    vertical-align: middle;
}

form {
    text-align: center;
}

.image-present {
    float: none;
    display: table-cell;
}

.choice-block {
    background-color: white;
    opacity: 0.8;
    padding: 5px;
    margin-bottom: 5px;
}

#choices {
    background-color: #9F6164;
    padding: 10px;
    vertical-align: top;
}

form input[type='radio'] {
    display: none;
}

@media (max-width: 767px) {
    #poll-image {
        display: block;
    }

    #choices {
        display: block;
    }

    #tablee {
        display: block;
    }
}
