#poll-info  {
    margin-top: 20px;
    padding: 5px;
    background-color: #7596c8;
}

#question {
    background-color: #9F6164;
    padding: 5px;
}

form {
    text-align: center;
}

.choice-block {
    background-color: white;
    border: 2px white solid;
    opacity: 0.8;
    padding: 5px;
    margin-bottom: 5px;
}

#choices {
    background-color: #9F6164;
    padding: 10px;
}

form input[type='radio'] {
    display: none;
}

img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 30%;
    height: 30%;
}
