form {
    display: none;
    text-align: center;
    background-color: #4CAF50;
}

.accounts-label{
    color: white;
    display: inline;
}

.centre-block {
    margin-top: 20px;
    background-color: gray;
    text-align: center;
}

.centre-block-title {
    padding: 5px;
    font-size: 30px;
    text-align: center;
    background-color: #4CAF50;
}

#latest-poll a {
    font-size: 1.2em;
    text-decoration: none;
    width: 100%;
}

#statistics {
    display: flex;
    flex-wrap: wrap;
}

.statistic {
    flex: 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 20px 5px 20px;
    margin: 10px;
}

.statistic-title {
    flex: 1 1 100%;
    padding: 2px 0px 2px 0px;
    color: white;
    font-size: 24px;
    background-color: #A52A2A;
}

.statistic-detail {
    flex: 1 2 40%;
    max-width: 30%;
    background-color: white;
    padding: 2px 0px 2px 0px;
    border-radius: 10px;
    font-size: 12px;
    margin: 10px;
}

@media only screen and (max-width: 500px) {
    form input[type="text"], form input[type="password"] {
        display: block;
        margin: auto;
        width: 50%;
    }
}
