body {
    background-color: #EBEBEB;
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 80%;
}

#navigation h1 {
    color: black;
    font-weight: bold;
    font-size: 4em;
    display: inline;
    padding: 10px;
}

#navigation {
    width: 100%;
    background-color: gray;
    display: inline-block;
}

#navigation li{
    float: left;
}

#navigation li a {
    display: block;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 8px 8px;
}

#navigation li a.active {
    background-color: #4CAF50;
}

#navigation li a:hover:not(.active) {
    background-color: #111;
}

#navigation ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

@media screen and (max-width: 600px) {
    body {
        max-width: 100%;
    }

    #navigation h1 {
        display: block;
        text-align: center;
        font-size: 2em;
    }

    #navigation li {
        width: 100%;
    }
}
