body {
    background-color: #eee;
    font-family: sans-serif;
}

#navigation {
    width: 100%;
}

#navigation li{
    float: left;
}

#navigation li a {
    display: block;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 8px 8px;
}

#navigation li a.active {
    background-color: #4CAF50;
}

#navigation li a:hover:not(.active) {
    background-color: #111;
}

#navigation ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
