.col-sm-12 {
    background-color: white;
}

#step-1 {
    margin-top: 20px;
}

#step-2, #step-3 {
    margin-top: 20px;
    left: -250px;
    display: none;
}

.step-header {
    padding: 5px;
    background-color: #F2635F;
}
