form {
    background-color: gray;
    font-family: sans-serif;
    text-align: center;
}

form h2 {
    font-weight: bold;
    background-color: #86C67C;
}

input[name='question_text'] {
    width: 80%;
}

input[type='submit'] {
    width: 15%;
}

input[name="submitter"] {
    width: 10%;
}

input[name^="choice"] {
    width: 100%;
}

.choice-block {
    display: inline-block;
    width: 20%;
    margin: 0px 5px 20px 5px;
}

#categories {
    margin-bottom: 25px;
}

#form-actions {
    text-align: right;
    margin-top: 20px;
}
