.col-sm-12 {
    background-color: white;
}

.step-header {
    padding: 5px;
}


#step-2 {
    margin-top: 20px;
    left: -250px;
    display: none;
}

#step-3 {
    margin-top: 20px;
    left: -250px;
    display: none;
}

#step1-header{
    display: block;
    background-color: #F2635F;
}

#step2-header {
    background-color: #0093D1;
}

#step3-header {
    background-color: #E0A025;
}

#categories {
    margin-bottom: 25px;
}
