form {
    background-color: white;
}

.step-header {
    padding: 5px;
}

#step1-header{
    display: block;
    background-color: #BA55A3;
}

#step-2 {
    margin-top: 20px;
    left: -250px;
    display: none;
}

#step2-header {
    background-color: #FF7F50;
}

input[name='question_text'] {
    width: 80%;
}

input[type='submit'] {
    width: 15%;
}

input[name="submitter"] {
    width: 10%;
}

input[name^="choice"] {
    width: 100%;
}

.choice-block {
    display: inline-block;
    width: 20%;
    margin: 0px 5px 20px 5px;
}

#categories {
    margin-bottom: 25px;
}

#form-actions {
    text-align: right;
    margin-top: 20px;
}

#question-image {
    font-weight: bold;
    margin-top: 10px;
}

#question-image input {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 80%;
}
