form {
    background-color: gray;
    font-family: sans-serif;
    text-align: center;
}

form h2 {
    font-weight: bold;
    background-color: #86C67C;
}

input[name='question_text'] {
    width: 80%;
}

input[type='submit'] {
    width: 15%;
}

input[name="submitter"] {
    width: 10%;
}

input[name^="choice"] {
    width: 100%;
}

.choice-block {
    display: inline-block;
    width: 20%;
    margin: 0px 5px 20px 5px;
}

#categories {
    margin-bottom: 25px;
}

#form-actions {
    text-align: right;
    margin-top: 20px;
}

#question-image {
    font-weight: bold;
    margin-top: 10px;
}

#question-image input {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

@media screen and (max-width: 600px) {

    .choice-block {
        display: block;
        margin: auto;
        width: 80%;
    }


    #form-actions input[type="text"] {
        width: 47%;
    }

    #form-actions input[type="submit"] {
        width: 47%;
    }
}
