.poll-info {
    display: inline-block;
    border-radius: 5px;
    border: solid 1px black;
    padding: 2px 10px 2px 10px;
    margin: 2px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}


.poll-info[name='science'] {
    background-color: green;
}

.poll-info[name='mathematics'] {
    background-color: #50A6C2;
}

.poll-info[name='business'] {
    background-color: #9932CC;
}

.poll-info[name='history'] {
    background-color: #FFA500;
}

.poll-info[name='general knowledge'] {
    background-color: #8B6969;
}

.poll-info[name='other'] {
    background-color: #3A3A38;
}

.poll-info[name='submitter'] {
    background-color: #333;
}
