#register-form {
    background-color: #BBBBBB;
    max-width: 50%;
    box-shadow: 1px 1px 1px 3px #4CAF50;
    margin: auto;
}

#register-form h2 {
    background-color: #4CAF50;
    text-align: center;
    letter-spacing: 3px;
}

.pwdtooltip {
    display: inline-block;
    background-color: black;
    border-radius: 2px;
    padding: 0px 5px 0px 5px;
    color: white;
}

.form-component {
    padding: 5px;
    margin-top: 10px;
}

.form-block {
    padding-bottom: 5px;
    border-bottom: solid black 2px;
}

form {
    text-align: center;
}

form input[type="text"], form input[type="password"], select {
    width: 50%;
    display: block;
    margin: auto;
}

form input[type="button"]:last-child {
    width: 20%;
    box-shadow: 0px 0px 3px #4CAF50;
}
