h1 {
    text-align: center;
}

#results {
    margin-top: 5%;
    margin-bottom: 15px;
    background-color: #CD5555;
    width: 100%;
    padding-top: 5px;
    text-align: center;
}

#results h2:before {
    content: 'Poll: ';
    color: white;
    font-weight: bolder;
}

.progress-description, .progress-background, .progress-foreground {
    height: 2em;
}

.progress-background {
    position: relative;
    background-color: #CDB7B5;
    border: solid black 1px;
}

.progress-foreground {
    width: 0%;
    background-color: #4CAF50;
}

.progress-description {
    position: absolute;
    font-size: 1.5em;
    width:100%;
}

input {
    width: 20%;
}

@media screen and (max-width: 600px) {

    input[type="button"] {
        width: 50%;
    }
}
